<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Calorie counter</title>
</head>

<body>
    {% extends "layout.html" %} {% block content %}
    <div>
        <form id="foodPickerForm" class="food-form" method="POST">
            <div class="food-textfield">
                <input name="foodPicker" id="foodPicker" placeholder='Select food'>
            </div>
            <button type="submit" class="food-btn food-btn--primary" type="button">Add Food</button>

        </form>
        <br>
        <div class="food--text-body2" id="foodInfo"></div>

        <div class="fodd-divider"></div><br>

        <div id="foodBalanceWrapper">
            <table id="foodBalanceTable" class="food-table food-panel">
                <thead>
                    <th>Food</th>
                    <th colspan="2">Kcal</th>
                </thead>
                <tbody id="foodBalanceBody"></tbody>
            </table>
            <p id="totalWrapper" class="food--text-display1">You consumed <span class="bold" id="total"></span> calories eating Fast Food</p>
        </div>
    </div>
    {% endblock %}
</body>

</html>